@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

/* ###########
   # OVERALL #
   ########### */

body {
  font-family: 'Playfair Display', serif;
  color: black;
  background-color: lightyellow;
  background-image: url('../img/paper-texture.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

/* ##############
   # BOOK COVER #
   ############## */

.splash {
  background-image: url('../img/book-leather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: saddlebrown;
  color: gold;
}

.splash .badge {
    background-color: black;
    border: 3px solid gold;
    opacity: 0.8;
}

/* ######################
   # REGULAR BOOK PAGES #
   ###################### */

body {
    
}
